:root {
  font-family: "Outfit", sans-serif;
  --dark-purple: hsl(239, 75, 70);
  --ligth-purple: hsl(239, 68, 82);
  --ligth-pink: hsl(7, 46, 78);
  --ligth-orange: hsl(25, 78, 79);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
