:root {
  font-family: "Outfit", sans-serif;
  --dark-purple: hsl(239, 75, 70);
  --ligth-purple: hsl(239, 68, 82);
  --ligth-pink: hsl(7, 46, 78);
  --ligth-orange: hsl(25, 78, 79);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    141.59deg,
    #f6c59c 11.57%,
    #e3b4ab 53.27%,
    #b3b4ef 123.37%
  );
}

@keyframes anim {
  0% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 1%,
      rgba(179, 180, 239, 1) 60%
    );
  }
  5% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 2%,
      rgba(179, 180, 239, 1) 60%
    );
  }
  10% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 10%,
      rgba(179, 180, 239, 1) 70%
    );
  }
  15% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 10%,
      rgba(227, 180, 171, 1) 20%,
      rgba(179, 180, 239, 1) 85%
    );
  }
  20% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 20%,
      rgba(227, 180, 171, 1) 30%,
      rgba(179, 180, 239, 1) 80%
    );
  }
  25% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 30%,
      rgba(227, 180, 171, 1) 40%,
      rgba(179, 180, 239, 1) 85%
    );
  }
  30% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 40%,
      rgba(227, 180, 171, 1) 50%,
      rgba(179, 180, 239, 1) 90%
    );
  }
  35% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 50%,
      rgba(227, 180, 171, 1) 60%,
      rgba(179, 180, 239, 1) 95%
    );
  }
  40% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 60%,
      rgba(227, 180, 171, 1) 70%,
      rgba(179, 180, 239, 1) 95%
    );
  }
  45% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 70%,
      rgba(227, 180, 171, 1) 80%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  50% {
    background: rgba(246, 197, 156, 1);
  }
  55% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 40%,
      rgba(246, 197, 156, 1) 70%
    );
  }
  60% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 25%,
      rgba(246, 197, 156, 1) 75%
    );
  }
  65% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 15%,
      rgba(246, 197, 156, 1) 85%
    );
  }
  70% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 5%,
      rgba(246, 197, 156, 1) 95%
    );
  }
  75% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 2%,
      rgba(246, 197, 156, 1) 98%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 1%,
      rgba(246, 197, 156, 1) 99%
    );
  }
}
