:root {
  font-family: "Outfit", sans-serif;
  --dark-purple: hsl(239, 75, 70);
  --ligth-purple: hsl(239, 68, 82);
  --ligth-pink: hsl(7, 46, 78);
  --ligth-orange: hsl(25, 78, 79);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes anim {
  0% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 0%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  5% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 5%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  10% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 0%,
      rgba(227, 180, 171, 1) 15%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  15% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 3%,
      rgba(227, 180, 171, 1) 35%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  20% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 4%,
      rgba(227, 180, 171, 1) 45%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  25% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 5%,
      rgba(227, 180, 171, 1) 50%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  30% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 10%,
      rgba(227, 180, 171, 1) 55%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  35% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 15%,
      rgba(227, 180, 171, 1) 60%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  40% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 20%,
      rgba(227, 180, 171, 1) 70%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  45% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 25%,
      rgba(227, 180, 171, 1) 75%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  50% {
    background: radial-gradient(
      circle,
      rgba(246, 197, 156, 1) 30%,
      rgba(227, 180, 171, 1) 80%,
      rgba(179, 180, 239, 1) 100%
    );
  }
  55% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 100%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  60% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 75%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  65% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 60%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  70% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 45%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  70% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 35%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  80% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 28%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  85% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 20%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  90% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 15%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  95% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 8%,
      rgba(246, 197, 156, 1) 100%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(227, 180, 171, 1) 1%,
      rgba(246, 197, 156, 1) 100%
    );
  }
}
