.item-input {
  display: none;
}

.item-root {
  margin-bottom: 8px;
}

.sd-root-modern {
  background-color: transparent;
  align-self: center;
}

.item-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-text {
  height: 24px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797bec;
  user-select: none;
  text-align: center;
}

.item-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 32px 4px 16px;
  gap: 12px;
  height: 48px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.item-label:hover {
  background: #d0d0dd;
}

.item-text--selected {
  color: #ffffff;
}

.item-label.item-label--selected {
  background: #797bec;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #797bec;
}

.question-note {
  white-space: initial;
}

.sd-action-bar.sd-action-bar.sd-action-bar {
  margin: 0 auto;
}

.sd-btn--action {
  background: #797bec;
  border: 2px solid white;
  border-radius: 100px;
}

.sv-string-viewer.sv-string-viewer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

.sd-question__required-text.sd-question__required-text {
  color: transparent;
}

.svc-logic-question-value,
.sd-element--with-frame {
  padding-bottom: 5px;
}

.sd-input {
  border-radius: 50px;
}

.sd-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  color: #797bec;
}

.sd-body.sd-body--static {
  max-width: 1000px;
}

.svc-logic-question-value,
.sd-element--with-frame {
  background-color: transparent;
}

.svc-logic-question-value,
.sd-element--with-frame {
  box-shadow: none;
}
